

h1 {
	padding-bottom: 50px;
	font-family:'Lora', serif;
	font-size: 45px;
	text-align: center;

}


.circle {
    border-radius: 50%;
    padding: 5px;
    background-color: black;
}

#left{
	float: left;
	width: 30%;
}

#right{
	float: right;
	width: 62%

}

.clearfix:after{

    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

article{
	font-family: 'Slabo 27px', serif;
	letter-spacing: 1px;
}

a{  
	text-decoration: none;
	color: black;

}

a:hover{
	color: gray;
}

footer{
	text-align: center;
	padding-top: 100px;
}

