body {
	background-image: url(https://static.pexels.com/photos/2255/black-and-white-city-houses-skyline.jpg);
	background-size: cover;
}

hr {
	width: 200px;
}

h1, p { 
	text-align: center;
}

h1 {
	font-size: 95px; 
	font-family: 'Playfair Display SC', serif; 
	font-weight: black;
	line-height: 1.5em;
}

body {
	font-family: 'Roboto', sans-serif; 
	font-size: 37px;
}

a {
	text-decoration: none; 
	color: black;
	font-weight: 900;
}

.arrow {
	display: block;
	text-align: center;
}




