
.secondary {
	font-size: 16px;
	font-family: font-family: 'Roboto', sans-serif;
	text-align: center;
	background: black;
	color: white;
}

.sub {
	font-family: inherit;
}

li{
	font-weight: bold;
	margin: 15px;
}

ol{
	text-align: left;
}



.navlinkssecondary{
	text-align: center;
	padding:10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: white;
	color: black;
}


