body {
	font-size: 18px;
	font-family: font-family: 'Roboto', sans-serif;
	text-align: center;

}



h1{
	text-align: center;
	font-size: 4em;
	font-family:'Gravitas One', cursive; 

}

article {
	text-align: center;
}


img {
	position: relative;
	width: 50%;
	padding:20px 0;
}



a {
	text-decoration: none;
	color: black;
}

footer{
	text-align: center;
	padding: 100px;
}


.navlinks{

	text-align: center;
	padding:10px 20px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: black;
	color: white;
}

#speakeasy{
	position: absolute;
	top: 520px;
	left: 38%;
	padding: 10px;
	background: black;
	font-size: 18px;
	color:white; 

}

.secondary {
	font-size: 16px;
	font-family: font-family: 'Roboto', sans-serif;
	text-align: center;
	background: black;
	color: white;

}

.sub {
	font-family: inherit;
}

li{
	font-weight: bold;
	margin: 15px;
}

ol{
	text-align: left;
}



.navlinkssecondary{
	text-align: center;
	padding:10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: white;
	color: black;
}

#coldbrew{
        position: absolute;
		top: 1000px;
		left: 75%;
		padding: 5px;
		background: white;
}

