body {
	background-image: url("http://img06.deviantart.net/3ae0/i/2009/106/e/6/city_skyline_2_black_and_white_by_gestianpoet21.jpg")
	background-size:cover;
}


h1, p { 
	text-align: center;
}

h1 {
	font-size: 100px; 
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Lato', sans-serif; font-size: 30px; 
}

a {
	text-decoration: none; 
}

a:link, a:hover, a:active a:visited { 
	color: black; 
	font-weight: bold;
}
